body {
  margin: 0;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
  color: #40514E;
}

h1 {
  margin: 50 auto 0 auto;
  padding-top: 100px;
  font-size: 5.5rem;
  font-family: 'Pinyon Script', cursive;
  color: #f8f1f1;
}

h2 {
  font-size: 2.5rem;
  color: #11999E;
font-family: 'Courgette', cursive;
  font-weight: normal;
}

h3 {color: #11999E;}
a{color: #11999E;}

hr{


  border-style: dotted none none;

  width: 7%;
  border-color: silver;
  border-width:thick;
  margin: 50px auto;

}
p{color: #40514E}
a{ text-decoration: none;
margin: 10px;
}
a:hover{color:#f8f1f1 }
.top {
  text-align: center;
  position: relative;
  background-color: #66BFBF;

}
.mid {
  background-color: #f8f1f1;
}

.bot {background-color:#66BFBF;
padding-top: 30px;
padding-bottom: 30px;
margin-bottom: 0}

.hard {
  text-decoration: underline;
}

.nubetop {
  position: relative;
  left: 20%;
  top: 100px;
}
.aprog{color:#f8f1f1;}
.nubebot {
  position: absolute;
  left: 20%
}

.montaña {
  margin: auto;
}

.personalPic {
  padding-top: 40px;
  width: 200px;
}
.intro{width: 30%;
margin: auto;}
.skill-row{width: 50%;
margin: 100px auto 100px auto;

text-align: left;
line-height: 2}
.skrip{width: 25%;
  float: left;
margin-right: 10px;}
.skrii{width: 25%;
  float: right;
margin-left: 10px;}
.Contactmebutton {
   background: #A3D2CA;
   background-image: -webkit-linear-gradient(top, #A3D2CA, #F8F1F1);
   background-image: -moz-linear-gradient(top, #A3D2CA, #F8F1F1);
   background-image: -ms-linear-gradient(top, #A3D2CA, #F8F1F1);
   background-image: -o-linear-gradient(top, #A3D2CA, #F8F1F1);
   background-image: -webkit-gradient(to bottom, #A3D2CA, #F8F1F1);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   height: 50px;
   line-height: 50px;
   color: #445C58;
 font-family: 'Courgette', cursive;
   width: 200px;
   font-size: 20px;
   font-weight: 400;
   -webkit-box-shadow: 12px 7px 35px 0 #000000;
   -moz-box-shadow: 12px 7px 35px 0 #000000;
   box-shadow: 12px 7px 35px 0 #000000;
   text-shadow: 6px 1px 10px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 10px auto 20px;
}

.Contactmebutton:hover {
   border: double #FFFFFF 3px;
   background: #F8F1F1;
   background-image: -webkit-linear-gradient(top, #F8F1F1, #A3D2CA);
   background-image: -moz-linear-gradient(top, #F8F1F1, #A3D2CA);
   background-image: -ms-linear-gradient(top, #F8F1F1, #A3D2CA);
   background-image: -o-linear-gradient(top, #F8F1F1, #A3D2CA);
   background-image: -webkit-gradient(to bottom, #F8F1F1, #A3D2CA);
   -webkit-border-radius: 29px;
   -moz-border-radius: 29px;
   border-radius: 29px;
   text-decoration: none;
}
.contact-me{padding-bottom: 50px;}
.footer-link{color: #11999E}
.copyright{color: #f8f1f1;
font-size: 0.8rem}
